body{
	margin:0;
}

header {
	background: #999;
	color: white;
	padding: 15px 15px 0px 15px;
}

header h1 {
	margin: 0;
	display: inline;
}

nav ul {
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li{
	background: black;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
}

nav ul li a{
	color:white;
}

.row:after {
	clear: both;
	content:"" ;
	display: table;
}

.col{
	background: #333;
	border-radius: 5px;
	width: 31%;
	float: left; 
	margin: 1%;
	padding: 10px 0.5px;
	color: white;
}

footer {
	clear:both;
}