header {
    width: 100%;
    display: block;
    border: 1px solid red;
}

header > div {
    width: 33%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    position: relative;
}


#search-pane {
    width: 100%;
}

#search-pane .query {
    width: 100%;
}

#search-pane .query .search-input {
    display: block;
    line-height: normal;
    text-align: left;
    padding: 5px;
}

#search-pane .query .search-input .label {
    display: block;
}

#search-pane .query .search-input .input {
    display: block;
}