body {    
    margin:0;
    background: black;   
}

h1 {
    margin: auto;
    color: black;
    padding: 0;
    text-align: center;
    width: 800px;
    background-color: #ddd;
}

input {
    font-size: inherit;
    margin: 0;
    padding: 0;

}

#movie {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: #ddd;
    border-radius: 0px 0px 5px 5px;
}

#movie span {
    color: #676767;
    display: block;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    width: 36px;
}

#movie .register {
    padding-bottom: 15px;
}

#movie .register * {
    display: block;
    margin: auto;
    width: 350px;
}

#movie .register .info {
    height: 48px;
    line-height: 48px;
    padding-left: 36px;
    box-sizing: border-box;
}

#movie .register input {
    height: 48px;
    box-sizing: border-box;
    padding-left: 36px;
}

#movie .register .plot {
    height: 128px;
    font-size: 14px;
    padding-left: 36px;
    padding-right: 36px;
    box-sizing: border-box;
}

#movie input[type="submit"] {
    background: #EB1315;
    border: 1px solid #391515;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
}

#movie .cancel {
    background: #EB1315;
    border: 1px solid #391515;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    line-height: 48px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}


#movie input[type="submit"]:hover {
    background: #F46E6F;
}

#movie .cancel:hover {
    background: #F46E6F;
}

a { 
    display: block;
    margin: auto;  
    height: 48px;
    line-height: 48px;
    width: 350px;
    text-align: center;
    font-weight: bold;
    color: #FF69B4;
    text-decoration: none;
}
