body {
    background: #141414;
    color: white;
}

a {
    text-decoration: none;
}

/** HEADER **/
header {
    display: flex;
    justify-content: space-between;
    text-align: justify; 
    width: 100%;
}

.logo,
.user-links {
    display: inline-block;
    vertical-align: baseline;
}

.logo .image {
    height: 125px;
}

.user-links {
    box-sizing: border-box;
}

.nav:hover {
    color: #13B51E;
}

.nav {
    color: white;
    padding: 17px;
    font-family: Circular, Helvetica, Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    height: 125px;
    line-height: 125px;
    font-weight: 500;
    font-size: 16px;
}

.nav:not(:last-child) {
    border-right: 1px solid #ddd;
}


fieldset, label { 
    margin: 0; 
    padding: 0; 
    -webkit-appearance: none;
    border: none;
    display: block;
}

.hidden {
    visibility: hidden;
    display: none;
}


/** LIST AND DETAIL **/
.rating > input {
    -moz-apperance: none;
}

.rating > input { 
    -webkit-appearance: none;
    color: #ddd;
} 


.rating .star::before {
    content: "\2605";
}

.rating .star.on {
    color: #FFD700;
}

.listing {
    width: 100%;
}

.movie {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    width: calc(16.6% - 4px);
    vertical-align: top;
    box-sizing: border-box;
    background-color: black;
    border: 1px solid black;
    color: white;
    margin-bottom: 75px;
}

.movie .average-rating {
}

.movie .average-rating:after {
    content: "\2605";
    font-size: 25px;
    color: yellow;
    padding-left: 5px;
}

.movie .image {
    margin: auto;
    width: 100%;
    max-height: 450px;
    display: block;
}

.movie .top-right {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    width: 100%;
}

.movie .votes:before {
    content: "Votes";
    padding-right: 5px;
}

.movie .image {
    margin: auto;
    width: 100%;
    max-height: 450px;
    display: block;
}

/** DETAIL **/
#moviez-detail {
    height: 100%;
}


#moviez-detail .pane {
    width: 50%;
    background-color: rgba(0,0,0,0.9);
    color: white;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; 
    padding-bottom: 15px;
}

#moviez-detail .title {
    text-align: center;
}

#moviez-detail .image {
    margin: auto;
    display: block;
}

#moviez-detail .pane .info * {
    display: inline-block;  
}

#moviez-detail .pane .info label {
    padding-right: 5px;
}

#moviez-detail .rating-pane .average-rating {
    font-size: 25px;
}

#moviez-detail .rating-pane .average-rating:after {
    content: "\2605";
    color: yellow;
    padding-left: 5px;
}

#moviez-detail .rating-pane .votes {

}

#moviez-detail .rating-pane .votes:before {
    content: "Votes";
    padding-right: 5px;
}

#moviez-detail #buttons {
    padding-top: 15px;
}

#moviez-detail #buttons .back,
#moviez-detail #buttons .random {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: black;
    border: none;
    background-color: #fff;
    width: 100px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
}

#moviez-detail #buttons .back {
    margin-left: 15px;
}

.votes .rating {
    padding: center;
}

/** SEARCH **/

/** Structure **/
.search-form > div,
.search-form > fieldset,
.search-form h3 {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

.search-form input[type="text"],
.search-form input[type="number"] {
    width: 200px;
    height: 36px;
    line-height: 36px;
    padding-left: 5px;
}

/** Title **/
.search-form .title {
    font-size: 22px;
}

/** Year **/
.search-form .year-pane .info-label,
.search-form .runtime-pane .info-label {
    display: inline-block;
}

.genres {
    width: 400px;
}

.genre-button {
    display: inline-block;
    padding-bottom: 5px;
    width: 100px;
    height: 25px;
}

.genre-button .input{
    background-color: #141414;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-align: center;
    color: #d5d5c3;
    border: solid 1px #d5d5c3;
    opacity: 0.5;
}
.genre-button .input.selected{
    color: #ffffff;
    border: solid 1px #ffffff;
    outline: none;
    opacity: 0.9;
}

/** Submit and Random button size **/
.search-form .submit,
.search-form .random {
    border: none;
    height: 28px;
    font-size: 18px;
    width: 128px;
    background-color: #fff;
}

.search-form .random {
    margin-left: 15px;
}

/** SORT **/
#moviez-sort label {
    display: inline-block;
}