body {
    background: #141414;
    color: white;
}

a {
    text-decoration: none;
}

/** HEADER **/
header {
    display: flex;
    justify-content: space-between;
    text-align: justify; 
    width: 100%;
}

.logo,
.user-links {
    display: inline-block;
    vertical-align: baseline;
}

.logo .image {
    height: 125px;
}

.user-links {
    box-sizing: border-box;
}

.nav:hover {
    color: #13B51E;
}

.nav {
    color: white;
    padding: 17px;
    font-family: Circular, Helvetica, Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    height: 125px;
    line-height: 125px;
    font-weight: 500;
    font-size: 16px;
}

.nav:not(:last-child) {
    border-right: 1px solid #ddd;
}


fieldset, label { 
    margin: 0; 
    padding: 0; 
    -webkit-appearance: none;
    border: none;
    display: block;
}

.hidden {
    visibility: hidden;
    /*display: none;*/
}


/** LIST AND DETAIL **/
.rating > input {
    -moz-apperance: none;
}

.rating > input { 
    -webkit-appearance: none;
    color: #ddd;
} 


.rating .star::before {
    content: "\2605";
}

.rating .star.on {
    color: #FFD700;
}

.listing {
    width: 100%;
}

.movie {
    display: inline-block;
    word-wrap: break-word;
    width: calc(16.6% - 4px);
    vertical-align: top;
    box-sizing: border-box;
    background-color: black;
    border: 1px solid black;
    color: white;
    margin-bottom: 5px;
}

.movie .inline * {
    display: inline-block;
}


.movie .image {
    margin: auto;
    width: 100%;
    max-height: 450px;
    display: block;
}

.movie .title {
    height: 80px;
}

.movie .average-rating {
    display: inline-block;
}

.movie .votes {
    display: inline-block;
}

/** DETAIL **/
#moviez-detail .pane {
    border: 2px solid;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    width: 50%;
    left: 25%;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    color: white;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    box-sizing: border-box; 
}

#moviez-detail .pane:focus {
    outline: 0;
}

#moviez-detail .title {
    text-align: center;
}

#moviez-detail .image {

    margin: auto;
    display: block;
}

#moviez-detail .pane .info * {
    display: inline-block;
    
    /** shitzwritten **/
}

#moviez-detail .pane .info label {
    padding-right: 5px;
}

.votes .rating {

    padding: center;
}

.left,
.right {
    
    width: 49%;
    box-sizing: border-box;
    display: inline
    vertical-align: top;
}

.showhide {

}
/** SEARCH **/


.genre-button .id{
	width: 500px;
	
}
.genre-button {
	display: inline-block;
    width: 75px;
	height: 25px;
}

.genre-button .input{
	background-color: #141414;
	width: 70px;
	height: 25px;
	text-align: center;
	color: #d5d5c3;
	border: solid 1px #d5d5c3;
	padding: 5px;
	margin: 10px;
	opacity: 0.5;
}
.genre-button .input.selected{
	background-color: #141414;
	width: 70px;
	height: 25px;
	text-align: center;
	color: #ffffff;
	border: solid 1px #ffffff;
	padding: 5px;
	margin: 10px;
	opacity: 0.9;
}

/** SORT **/
#moviez-sort label {
    display: inline-block;
}