#user #login,
#user #register,
#user #user-profile {
    display: none;
}

#user #login.active,
#user #register.active,
#user #user-profile.active {
    display: block;
}


#user #register .form-input,
#user #login .form-input {
    text-align: left;
    line-height: normal;
    display: block;
    padding: 5px;
}

#user #register .form-input label,
#user #login .form-input label {
    display: block;
}

#user #register .form-input input,
#user #login .form-input input {
    display: block;
}


#user #register .user-submit,
#user #login .user-submit {
    display: block;
    margin-right: auto;
    margin-left: 5px;
    
}
