.input-widget {
    display: block;
    padding: 5px;x
}

.input-widget .input-label {
    display: block;
    text-align: left;
    line-height: normal;
}

.input-widget .value-input {
    display: block;
    text-align: left;
    line-height: normal;
}